body{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.container{
    /* height: 80vh; */
    width: 80vw;
    /* border: 2px solid #4f4f4f;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.heading{
    display: flex;
    justify-content: space-between

}
h1{
    font-size: 12px;
    font-weight: 600;
    
    /* color: #fff; */
}
.inputDiv{
    display: flex;
    /* align-items: center; */
    justify-items: center;
    font-size : 10px;
    /* width : 80%; */
    border: none;
    /* padding: 2px 5px; */
    /* color: #32c8ff; */
    margin-bottom: 2px;

}
input{
    width: 80% ;
    padding: 3px;
    border: none;
    /* border-radius:4px; */
    border-bottom: 1px solid #484848f7;
    color:#110f0f;
    font-size: 10px;

}
.addbtn{
    font-size: 10px;
    background-color: #2a943cdf;
    color: #141414fe;
    border: none;
    border-radius: 4px;
    padding: 5px 7px;
    margin: 5px 0;
}
#parentList{
    /* background-color: #97dffe; */
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todos{
    display: flex;
    height: 20px;
    width: 60%; 
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
    /* padding:0 10px; */
    /* border-bottom: 1px solid #4f4f4f; */
    
}
.todos span{
    background-color: #2ba34d;
    margin-right: 5px;
    padding: 3px;
    border-radius: 1px;
    color: #fff;
    font-size: 8px;
    font-weight: 100


}
.todos h4{
    font-size: 12px;
    font-weight: 100;
}
.deletebtn{
    font-size: 10px;
    background-color: #d02020;
    color: #fdf1d7fe;
    border: none;
    border-radius: 4px;
    padding: 3px ;
    margin: 5px 0;
}
.deletebtn:hover{
    background-color: #f32020;
    

}

#logout{
    font-size: 10px;
    font-weight: 300;
    background-color: #ffffff;
    color: #161616fe;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0;
}
#logout:hover{
    background-color: #7933cac2;
}